@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');


.boxes {

    width: 45px;
    height: 45px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

/* Position front and back side */
.box{
    position: relative;
    width: 45px;
    height: 45px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Horizontal flip when the mouse over the flip box area */
.boxes:hover .box {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.front, .back {
    position: absolute;
    width: 45px;
    height: 45px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/*Style front side */
.front {
    background-color: #bbb;
}
/*Style back side  */
.back {
    transform: rotateY(180deg);
}
/* Body style */
 header{
    font-family: Sonsie One, sans-serif;
    font-size: 25px;
    color: rgb(58, 58, 58);
    margin-top: 5px;
    margin-left: 15%;
}
body {
    background-color: rgb(213, 213, 213);
    margin-left: 25%;
}


/* Game area 
 .box, .boxes {
   list-style-type: none;
   display: flex;
   align-items: center;
   justify-content: center;
} */

.boxes {
    width: 600px;
    height: 600px;
    position: relative;
    flex-wrap: wrap;
    justify-content: start;
    background-color: #fff;
    border-radius: 4%;
    border: 15px solid rgb(58, 58, 58);
}

.boxes .box{
   cursor: pointer;
   list-style: none;
   user-select: none;
   position: relative;
   perspective: 1000px;
   transform-style: preserve-3d;
   height: calc(100% / 4 - 10px);
   width: calc(100% / 4 - 10px);
}  

/*animation */
/* .box.shake{
    animation: shake 0.35s ease-in-out;
}
@keyframes shake {
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}
.box .view{
    position: absolute;
    border-radius: 7px;
    background: #fff;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s linear;

}
.box .green img{
    width: 120px;
}
.box .back img{
    max-width: 120px;
}
.box .back {
    transform: rotateY(-180deg);
}
.box.flip .back{
    transform: rotateY(0);
}
.box.flip .green{
    transform: rotateY(180deg);
}  */
